VITE_AIRTABLE_API_KEY=your_airtable_api_key_here
VITE_AIRTABLE_BASE_ID=your_airtable_base_id_here
VITE_AIRTABLE_TABLE_NAME=Caselaws
# get a protomap key for free by creating an account on https://protomaps.com and applying for a key
VITE_PROTOMAP_KEY=your_protomap_key
